<div class="container mt-5">
    <h2 class="text-center mb-4">Tabela de Usuários</h2>
    <table class="table table-bordered table-hover table-center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <icon-edit-component (click)="pageEdit(user.id)"></icon-edit-component>
                    <icon-delete-component (click)="deleteUser(user.id)"></icon-delete-component>
                </td>
            </tr>
        </tbody>
    </table>
</div>
